// mixins
@mixin templateGrid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: 50px;
  }

  @mixin templateFlex($valueJustify, $alignItems) {
    display: flex;
    justify-content: $valueJustify;
  
    @if ($alignItems == true) {
      align-items: center;
    }
  }

$transition: all 0.3s;
$shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);


.footer {
    background-color: $bgfooter;
    color: $txt-footer;
    padding: 60px 20px;
    margin-top: 100px;
  
    &__content {
      @extend .container;
      @include templateGrid(2);
  
      h4 {
        color: $txt-footer;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
      }
  
      &-list {
        li {
          margin: 10px 0;
        }
  
        a {
          color: $txt-footer;
          transition: $transition;
  
          &:hover {
            color: $txt-footer;
          }
        }
      }
    }
  
    &__rrss {
      @include templateFlex(space-evenly, false);
      margin-top: 30px;
      flex-direction: column;
  
      // mapa - colores de los iconos
      $iconSocialMedia: (
        twitter: #55acee,
        instagram: #c92d8f,
        facebook: #2279e4,
      );
  
      // ciclo - bucle, recorre el mapa buscando los colores de los iconos
      @each $nameSocialMedia, $txt-white in $iconSocialMedia {
        .rs-#{$nameSocialMedia} {
          color: $txt-footer;
          font-size: 14px;
          transition: $transition;
  
          &:hover {
            color: $txt-white;
          }
        }
      }
    }
  
    &__copy {
      margin-top: 40px;
      text-align: center;
      color: #94a3b8;
    }
  }
  
  @media (max-width: $bpSmall) {
    .footer__content {
      grid-template-columns: 1fr;
    }
  }