.banner__nosotros{
    max-width: 100%;
    height: 200px;
    overflow: hidden;
    clear: both;
    display: block;
    background-image: url("../../assets/img/banner_nosotros.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}